.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-right: 20px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
  }
}